*{
    box-sizing: border-box;   
   }
    html{
       scroll-behavior: smooth;
    }
   
   body{
       font-family: "Roboto", sans-serif;
       margin: 0;
   }
   
   h1{ 
      font-size: 3.5em;
      font-family: 'Bebas Neue', sans-serif;
   }
   h2{ font-size: 2.7em;}
   h3{ font-size: 1.2em;}
   p{ font-size: 1.25em;}
   ul{ list-style: none;}
   li{ font-size: 1.25em;}
   
   button{
       font-size: 1.1em;
       font-weight: bold;
       padding: 10px 40px;
       border-radius: 10px;
       border: 2px solid rgb(0,0,0,0.5);
       box-shadow: 2px 2px 10px rgb(0,0,0,0.5);
       color: white;
       background-color: darkgoldenrod;
   }
   #email{
    border-radius: 7px;
    font-size: 20px;
   }
   
   button:hover{
       background-color: rgb(129, 98, 20);
   }
   
   .container{
       max-width: 1400px;
       margin: auto ;
   }
   
   .color-acento{color: rgb(133, 97, 7);}
   
   header{
       background-color: rgb(2, 2, 27);
   }
    header .logo{
       margin: 0;
       padding: 25px 30px;
       font-weight: bold;
       color: darkgoldenrod;
       font-size: 1.7em;
    }
    
    header .container{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
   
    header nav{
       display: flex;
       flex-direction: column;
       text-align: center;
       padding-bottom: 25px;
   
    }
    header a{
       padding: 5px 17px;
       text-decoration:  none;
       font-weight: bold;
       color: white;
    }
    header a:hover{
       color: darkgoldenrod;
    }
   
    #hero{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       flex-direction: column;
       height: 90vh;
       color: white;
       background-image: linear-gradient(
           0deg,
           rgba(0,0,0,0.5),
           rgba(0,0,0,0.5)
       )
       ,url("media/Fondo2.JPG");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
    }
   
    #hero h1{
       color: white;
    }
    #somos-pefumeman{
   
    }
   
    #somos-perfumeman .container{
       text-align: center;
       padding: 200px 12px;
    }
   
    #losmasvendidos{
       background-color: rgb(2, 2, 27);
       color: white;
       text-align: center;
    }
   
    #losmasvendidos .container{
       padding: 100px 0px;
    }
   
    #losmasvendidos h2{
       margin-top: 0;
       font-size: 3.5em;
    }
    #losmasvendidos p{
       display: none;
    }
   
    #losmasvendidos .producto{
       background-position: center center;
       background-size: cover;
       padding: 50px;
       margin: 21px;
       border-radius: 15px;
       box-shadow: 3px 3px 15px rgb(113, 112, 112)
   
    }
    .producto:first-child{
       background-image: linear-gradient(
           0deg,
           rgba(0,0,0,0.5),
           rgba(0,0,0,0.5)
       )
       ,url("media/invictus2_1.jpg");
   
    }
   
    .producto:nth-child(2){
       background-image: linear-gradient(
           0deg,
           rgba(0,0,0,0.5),
           rgba(0,0,0,0.5)
       )
       ,url("media/Savage_1.jpg")
   
    }
    .producto:nth-child(3){
   
       background-image: linear-gradient(
           0deg,
           rgba(0,0,0,0.5),
           rgba(0,0,0,0.5)
       )
       ,url("media/fondo.jpg")
    }
    
    #caracteristicas .container{
       text-align: center;
       padding: 250px 12px;
    }
    #caracteristicas li{
       margin: 16px 0px;
       font-weight: bold;
    }
    footer{
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 2rem 8%;
       background-color: rgb(12, 12, 12);
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   
    }
    .social-icons-container, .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .social-icon{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid #ffff;
        background-image: url(media/facebook.png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;

    }

    .social-icon:hover{
        background-color: #ffff;
        

    }
    .social-icon:nth-of-type(2){
        background-image: url(media/instagram.png);
    }
    .social-icon:nth-of-type(3){
        background-image: url(media/github.png);
    }
    .social-icon:nth-of-type(4){
        background-image: url(media/twiter.png);
    }

    .footer-menu-container{
        list-style-type: none;
        color: #ffff;
        font-size: 18px;
    }
    .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
    }
    .menu-item:hover{
        opacity: 1;
    }


   
    footer p{
       margin: 0;
       padding: 15px;
       color: darkgoldenrod;
   
    }
    
   
   
    /*Modulo WEB*/
   
    @media (min-width: 720px){
     header{
      position: static;
       width: 100%;
   
       }
   
   
    header .container{
       flex-direction: row;
       justify-content: space-between;
       
    }
   
    header nav{
       flex-direction: row;
       padding-bottom: 0;
       padding-right: 20px;
       
    }
   
   
   #somos-perfumeman .container{
       display: flex;
       justify-content: center;
   }
   
   #somos-perfumeman .texto{
       width: 50%;
       max-width: 600px;
       text-align: initial;
       padding: 0px 30px;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   #somos-perfumeman .img-container{
       background-image: linear-gradient(
           0deg,
           rgba(0,0,0,0.5),
           rgba(0,0,0,0.5)
       ), url("media/IMAGE.jpeg");
       background-size: cover;
       background-position: center center;
       height: 500px;
       width: 400px;
   }
   
   #losmasvendidos .catalogo{
      display: flex;
      justify-content: center;
   
   }
   #losmasvendidos p{
      display: block;
      margin-bottom: 30px;
   }
   #losmasvendidos h3{
      margin-top: 0;
   }
   
   #losmasvendidos .producto{
      padding: 15px;
      box-shadow: 3px 3px 15px rgb(113, 112, 112)
   }
   
   #caracteristicas{
      background-image: url("media/hombremoto.jpg");
      background-repeat: no-repeat;
      background-size: 500px 500px;
      background-position: calc(100vw - 700px) 120px;
   }
   #caracteristicas .container{
      text-align: initial;
   
   }
   #caracteristicas ul{
      margin-left: 100px;
   }
   footer .container{
      justify-content: flex-end;
   }
    }
   
    @media(min-width: 1200px) {
      #caracteristicas{
         background-position: calc(100vw - 600px);
      }
      
    }